@{
	ViewBag.Title = "Home Page";
}

<div class="intro">
	<div class="container">
		<div class="units-row">
			<div class="unit-10">
				<img class="img-intro" src="img/avatar.png" alt="">
			</div>
			<div class="unit-90" style="padding-left: 31em; padding-right: 9em;">
				<p class="p-intro" style="text-align: center;">WELCOME TO AILEEN'S GALLERY!</p>
			</div>
		</div>
	</div>
</div>

<main style="padding-top: 1em; padding-left: 1em;">
	<h2>Home page</h2>

	<a href="/Home/Products">Products</a>
</main>